body {
  background-color: #0c2d48;
  padding: 0;
  margin: 0;
  margin-top: 80px;
}

.profile {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background-color: white;
  color: black;
}
.float-right {
  display: flex;
  align-items: left;
  width: 10%;
}
.float-left {
  float: left;
  width: 20%;
}
h1 {
  color: white;
}
p {
  color: wheat;
}
.li-books {
  color: #b1d4e0;
  font-size: larger;
  list-style: none;
}
a {
  text-decoration: none;
  background-color: none;
  font-size: larger;
  color: white;
  transition-duration: 0.5s;
}
a:hover {
  transform: translateY(5px);
  color: #2e8bc0;
}
.div-books {
  align-items: center;
  border-width: 2px;
  border-style: solid;
  border-color: #2e8bc0;
  margin-right: 38px;
  margin-bottom: 20px;
  display: flex;
  padding-top: 5px;
}
.div-book-container {
  border: 2px;
  border-width: 2px;
  border-style: solid;
  border-color: #2e8bc0;
  width: 600px;
}
nav {
  position: relative;
  width: 100%;
}
header {
  background-color: #2e8bc0;
  height: 60px;
  display: flex;

  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 4;
  gap: 20px;
}
.nav-items {
  display: flex;
  gap: 25px;
  flex-direction: row;
}

.nav-li {
  list-style: none;
}
.nav-button {
  list-style: none;
  background-color: #2e8bc0;
  cursor: pointer;
  border-color: white;
  color: white;
}
.burger {
  display: none;
}
.check {
  display: none;
  z-index: 4;
}
@media (max-width: 605px) {
  .burger {
    display: block;
  }
  .nav-items {
    position: absolute;
    width: 100vh;
    top: 100%;
    left: 0;
    flex-direction: column;
    background-color: #132f46;
    padding-left: 0;
    margin: 0;
    align-items: center;
    width: 100vw;
    display: none;
    margin-right: 50px;
  }
  .nav-li {
    padding-bottom: 20px;
  }
  .check {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    opacity: 0;
    cursor: pointer;
  }
  .check:checked + .nav-items {
    display: flex;
  }

  .div-books {
    width: 300px;
    align-items: center;
    border-width: 2px;
    border-style: solid;
    border-color: #2e8bc0;
    margin-right: 38px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding-top: 5px;
  }
  .div-book-container {
    border: 2px;
    border-width: 2px;
    border-style: solid;
    border-color: #2e8bc0;
    width: 350px;
  }
}

@media (max-width: 355px) {
  .burger {
    display: block;
  }
  .nav-items {
    position: absolute;
    width: 100vh;
    top: 100%;
    left: 0;
    flex-direction: column;
    background-color: #132f46;
    padding-left: 0;
    margin: 0;
    align-items: center;
    width: 100vw;
    display: none;
    margin-right: 50px;
  }
  .nav-li {
    padding-bottom: 20px;
  }
  .check {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    opacity: 0;
    cursor: pointer;
  }
  .check:checked + .nav-items {
    display: flex;
  }

  .div-books {
    width: 200px;
    align-items: center;
    border-width: 2px;
    border-style: solid;
    border-color: #2e8bc0;
    margin-right: 38px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding-top: 5px;
  }
  .div-book-container {
    border: 2px;
    border-width: 2px;
    border-style: solid;
    border-color: #2e8bc0;
    width: 270px;
  }
  .li-books {
    color: #b1d4e0;
    font-size: 12px;
    list-style: none;
  }
  a {
    text-decoration: none;
    background-color: none;
    font-size: 15;
    color: white;
    transition-duration: 0.5s;
  }
}
